.photo-container {
    background-image: url('../assets/wp9649930.jpg');
    width: 397px;
    border-radius: 20px;

}

.photo-container div {
    display: flex;
}

.photo-container > div{
    background-repeat: no-repeat;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
}
.photo-container > div > div:first-child {
    font-size: 18px;
    color: #FFFFFF;
    flex-direction: column;
}

.photo-container > div > div:last-child > div:last-child {
    flex-direction: column;
}

.photo-container > div > div:last-child{
    height: 170px;
    gap: 40px;
    padding-top: 20px;
}

.photo-container > div > div:last-child > div:last-child{
    height: 100%;
    
}

.photo-container > div > div:last-child > div:last-child > div:last-child{
    height: 100%;
    align-items: end;
}

.photo-container > div > div:last-child > div:last-child button{
    font-size: 8px;
    font-weight: 500;
    color: #ffffff;
    height: 27px;
    border-radius: 7px;
    border: none;
    backdrop-filter: blur(120px);
    background: #716FE7;
    width: 122px;
    height: 27px;
}

.photo-container > div > div:first-child hr {
    border: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);
    border-image-slice: 1;
    width: 100%;
}

.photo-container video {
    height: 170px;
    width: 160px;
    background: linear-gradient(123.64deg, rgba(255, 255, 255, 0) -22.38%, rgba(255, 255, 255, 0.039) 70.38%);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    object-fit: cover;
}

.photo-container > div > div:last-child > div:last-child div:first-child{
    flex-direction: column;
    gap: 10px;
}

.photo-container > div > div:last-child > div:last-child div:last-child{
    justify-content: end;
}