<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barangay Clearance</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="main-container">
        <div id="sidebar-container"></div>
        <div class="content"> 
            <div class="table-container">
                <div>
                    <div>
                        <h2>BARANGAY CLEARANCE DATA ENTRY</h2>
                    </div>
                    <div>
                        <input type="text" id="searchInput" placeholder="Search by Last Name">
                        <button onclick="searchClearance()" class="purple">Search</button>
                    </div> 
                </div>
                
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Birthplace</th>
                            <th>Gender</th>
                            <th>Purpose</th>
                            <th>Contact Number</th>
                            <th>Findings</th>
                            <th>Issued Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="clearanceTableBody">

                    </tbody>
                </table>
                <div>
                    <button id="addRecordBtn" class="blue">Add New Record</button>
                </div>
            </div>
            <div id="modalOverlay"></div>
            <div id="modal"></div>
            <div id="photoModalOverlay"></div>
            <div id="photo-modal">
                <div>
                    <div>
                        Face Capture
                        <hr>
                    </div>
                    <div>
                        <div>
                            <video id="video" autoplay></video>
                        </div>
                        <div>
                            <div>
                                <button id="capture">Capture</button>
                                <button id="retry" style="display: none;">Retry</button>
                            </div>
                            <div>
                                <button id="save" onclick="closeModal('photo-modal', 'photoModalOverlay')" disabled>Save Image</button>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    <script src="../renderer/sidebar.js" defer></script>
    <script defer src="../renderer/barangay-clearance.js"></script>
</body>
</html>
