<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electron Camera Capture</title>
    <link rel="stylesheet" href="../css/camera.css">
</head>
<body>
    <div class="photo-container">
        <div>
            <div>
                Face Capture
                <hr>
            </div>
            <div>
                <div>
                    <video id="video" autoplay></video>
                    <canvas id="canvas" style="display: none;"></canvas>
                </div>
                <div>
                    <div>
                        <button id="capture">Capture</button>
                        <button id="retry" style="display: none;">Retry</button>
                    </div>
                    <div>
                        <button id="save" disabled>Save Image</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="../renderer/camera.js"></script>
</body>
</html>
